.is-invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 0.875rem;
  }

  .errmsg {
    color: red;
    font-weight: bold;
  }
  
  .successmsg {
    color: green;
    font-weight: bold;
  }